.additional-goods__title {
  display: inline-block;
  padding-left: 20px;
  padding-right: 22px;
  margin-left: -20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
}

.additional-goods__title-wrapper {
  position: relative;
  margin-top: 5px;
  margin-bottom: 22px;
}

.additional-goods__container {
  display: block;
}

.additional-goods__title-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 100vw;
  height: 3px;
  margin-top: 7px;
  background-color: #68b738;
  z-index: -1;
}

.additional-goods__list {
  border-top: 1px solid #cdcdcd;
  .reset-style();
}

.additional-good {
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}

.additional-good__header {
  margin-top: 13px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.additional-good__description {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
}

.additional-good__description tr {
  display: flex;
  justify-content: space-between;
}

.additional-good__link {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .additional-good {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 37px;
    padding-right: 36px;
    border: 1px solid #cdcdcd;
    border-top: 0;
  }

  .additional-good__header {
    flex-grow: 2;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-good__description {
    width: auto;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-good__description-cell--price {
    width: 47px;
    margin-left: 45px;
    text-align: right;
    float: right;
  }

  .additional-goods__title-wrapper {
    margin-top: -22px;
    margin-bottom: 78px;
  }

  .additional-goods__title {
    padding-left: 37px;
    padding-right: 35px;
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__title-wrapper::before {
    margin-top: 16px;
  }

  .additional-good__link {
    margin-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  .additional-goods__title-wrapper {
    margin-top: -7px;
    margin-bottom: 78px;
  }

  .additional-goods__title {
    margin-left: -37px;
  }

  .additional-goods__list {
    width: 895px;
  }

  .additional-good {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .additional-good__link {
    width: 245px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
  }

  .additional-good__description {
    width: 295px;
    margin-top: 10px;
  }

  .additional-good__description-cell--price {
    text-align: justify;
  }
}
