.contact-details {
  position: relative;
  margin-bottom: 15px;
}

.contact-details__title-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 34px;
  box-sizing: border-box;
}

.contact-details__title {
  display: inline-block;
  width: 200px;
  padding-left: 37px;
  margin-left: -39px;
  background-color: #ffffff;
}

.contact-details__title-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 100vw;
  height: 3px;
  margin-top: -10px;
  background-color: #68b738;
  z-index: -1;
}

.contact-details__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-detail__input {
  padding-left: 12px;
  margin-left: 12px;
}

@media (min-width: @tablet-width) {
  .contact-details {
    margin-bottom: 48px;
  }

  .contact-details__title {
    width: 512px;
    padding-right: 40px;
    margin-left: 0;
  }

  .contact-details__title-wrapper::before {
    margin-top: 1px;
  }

  .contact-details__shell {
    margin-left: 40px;
    margin-right: 35px;
  }

  .contact-details__title-wrapper {
    margin-bottom: 73px;
  }

  .contact-detail__input {
    padding-left: 20px;
    margin-left: 19px;
  }
}

@media (min-width: @desktop-width) {
  .contact-details {
    margin-bottom: 50px;
  }

  .contact-details__shell {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .contact-details__wrapper {
    width: 570px;
  }

  .contact-details__title {
    margin-left: -37px;
  }

  .contact-details__title-wrapper {
    margin-bottom: 73px;
  }

  .contact-details__title-wrapper::before {
    margin-top: 4px;
  }
}
