.example {
  background-color: #f2f2f2;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
}

.example__stats-value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

.example__info {
  line-height: 20px;
}
