.field-set {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.field-set__container {
  display: block;
}

.field-set legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.field-set__input::placeholder {
  color: #111111;
}

.field-set__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.field-set__label {
  flex-shrink: 0;
  max-width: 35%;
}

.field-set__input {
  width: 100%;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  border: 1px solid #e6e6e6;
}

.field-set__input:focus {
  border-width: 2px;
  border-color: #444444;
  padding: 11px 0 11px 14px;
  outline: none;
}

.field-set__input--required:focus {
  border-color: #ff8282;
}

@media (min-width: @tablet-width) {
  .field-set {
    margin-bottom: 53px;
    font-size: 20px;
    line-height: 20px;
  }

  .field-set__input {
    padding-left: 18px;
    font-size: 20px;
    line-height: 20px;
  }

  .field-set legend {
    font-size: 36px;
    line-height: 36px;
  }

  .field-set__input:focus {
    padding: 11px 0 11px 17px;
  }

  .field-set__input:hover {
    border-color: #cdcdcd;
  }
}
