.form-additionally {
  margin-bottom: 15px;
}

.form-additionally__title {
  display: inline-block;
  padding-left: 37px;
  padding-right: 25px;
  margin-left: -39px;
  background-color: #ffffff;
}

.form-additionally__title-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 38px;
  box-sizing: border-box;
}

.form-additionally__title-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 100vw;
  height: 3px;
  margin-top: 0;
  background-color: #68b738;
  z-index: -1;
}

.form-additionally__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.form-additionally__checkbox {
  position: absolute;
}

.form-additionally__label {
  position: relative;
  margin-left: 45px;
  cursor: pointer;
}

.form-additionally__checkbox + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid #cecece;
}

.form-additionally__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -40px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form-additionally__label:focus {
  outline: 2px solid orange;
}

.form-additionally__label:active {
  opacity: 0.3;
  transition: 0.3s;
}

.form-additionally__checkbox:disabled + label {
  opacity: 0.5;
  transition: 0.3s;
  cursor: default;
}

@media (min-width: @tablet-width) {
  .form-additionally {
    margin-bottom: 39px;
  }

  .form-additionally__title-wrapper {
    margin-bottom: 39px;
  }

  .form-additionally__title {
    padding-right: 40px;
    margin-left: 0;
  }

  .form-additionally__title-wrapper::before {
    margin-top: 6px;
  }

  .form-additionally__fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 38px;
    margin-right: 40px;
  }

  .form-additionally__wrapper {
    width: calc(50% - 30px);
    margin-bottom: 0;
  }

  .form-additionally__label {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-left: 60px;
  }

  .form-additionally__checkbox + label::before {
    top: 25%;
    left: -60px;
    width: 40px;
    height: 40px;
  }

  .form-additionally__checkbox:checked + label::after {
    top: 42%;
    left: -48px;
  }
}

@media (min-width: @desktop-width) {
  .form-additionally {
    margin-bottom: 45px;
  }

  .form-additionally__wrapper {
    width: calc((100% - 80px * 3) / 4);
  }

  .form-additionally__fields {
    margin: 0 auto;
  }

  .form-additionally__title {
    margin-left: -39px;
  }
}
