.form-programs {
  display: flex;
  padding-top: 25px;
  margin-bottom: 30px;
}

.form-programs__radio {
  position: absolute;
}

.form-program__label {
  position: relative;
  display: inline-block;
  margin-left: 45px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .form-programs {
    padding-top: 38px;
    margin-bottom: 75px;
    border: 1px solid #e6e6e6;
  }

  .form-program__label {
    margin-left: 85px;
    margin-bottom: 34px;
  }

  .form-programs::before {
    display: none;
  }

  .form-programs::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .form-programs {
    width: 570px;
    margin-bottom: 53px;
  }
}
