.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 289px;
  margin-top: 38px;
  margin-bottom: 33px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: 280px 289px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.gift__text {
  width: 170px;
  margin-top: 62px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.gift svg {
  fill: #ffffff;
  margin-top: 65px;
}

@media (min-resolution: 1.5dppx) {
  .gift {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-resolution: 1.5dppx) and (min-width: @tablet-width) {
  .gift {
    background-image: url("../img/gift-photo-tablet@2x.jpg");
  }
}

@media (min-resolution: 1.5dppx) and (min-width: @desktop-width) {
  .gift {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .gift {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 708px;
    height: 200px;
    margin-top: 70px;
    margin-bottom: 78px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;
  }

  .gift__text {
    margin-top: 72px;
    margin-right: 115px;
    text-align: left;
  }

  .gift svg {
    margin-left: 91px;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    flex-direction: column;
    align-items: center;
    width: 245px;
    height: 289px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;
    background-color: #64a83b;
  }

  .gift__text {
    margin-top: 0;
    margin-bottom: 42px;
    margin-right: 0;
    text-align: center;
  }

  .gift svg {
    margin-left: 0;
  }
}
