@media (min-width: 320px) {
  .inner-page__header {
    border-bottom: 1px solid #d9d9d9;
  }
}

@media (min-width: @tablet-width) {
  .inner-page__header {
    border-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .inner-page__header {
    border-bottom: 0;
  }
}
