.instruction h2 {
  line-height: 60px;
}

.instruction__list {
  .reset-style();
}

.instruction__text {
  font-family: "Aria", sans-serif;
}

@media(min-width: @tablet-width) {
  .instruction__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .instruction__item {
    width: 300px;
  }
}
