.page-header {
  background-color: #ffffff;
}

.page-header__logo {
  width: 192px;
  display: block;
  cursor: pointer;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.7;
}

.page-header__logo:active {
  opacity: 0.5;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.page-header__button svg {
  width: 24px;
  height: 18px;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 24px;
  }

  .page-header__wrapper {
    border-bottom: none;
  }

  .page-header__container {
    display: flex;
    align-items: center;
  }

  .page-header__button {
    display: none;
  }

  .page-header__logo {
    width: 173px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-top: 54px;
    background-color: transparent;
  }

  .page-header__logo {
    width: 202px;
  }

  .page-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 0;
    background-size: cover;
    z-index: -2;
  }
}

@media (min-resolution: 1.5dppx) {
  .page-header::after {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}
