.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 100% 305px;
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #ffffff;
}

.promo__image {
<<<<<<< HEAD
  margin-top: 10px;
=======
  margin-top: 15px;
}

.promo__image--tablet {
  display: none;
}

.promo__image--desktop {
  display: none;
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
}

.promo__button {
  display: block;
  width: 100%;
<<<<<<< HEAD
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 3px;
  text-align: center;
  text-transform: uppercase;
}

.promo__container {
=======
}

.promo--container {
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
  border: 1px solid transparent;
}

.promo__title {
  line-height: 36px;
  text-align: center;
  margin-bottom: 0;
<<<<<<< HEAD
  margin-top: 25px;
=======
  width: 250px;
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
}

.promo__text {
  text-align: center;
  text-transform: uppercase;
<<<<<<< HEAD
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    padding-top: 25px;
    padding-left: 86px;
    padding-right: 86px;
  }

  .promo__title {
    width: 415px;
=======
}

@media(min-width: @tablet-width) {
  .promo__wrapper {
    padding-left: 90px;
    padding-right: 90px;
  }
  .promo__title {
    width: 400px;
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
    text-align: left;
    line-height: 60px;
    color: #000000;
  }
<<<<<<< HEAD

  .promo__text {
    margin-top: 42px;
    margin-bottom: 49px;
=======
  .promo__text {
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
<<<<<<< HEAD

=======
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
  .promo__button {
    width: 245px;
    height: 37px;
    padding-top: 15px;
<<<<<<< HEAD
    padding-bottom: 0;
=======
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
<<<<<<< HEAD

  .promo__image {
    display: none;
  }

  .promo {
    height: 835px;
=======
  .promo__image--mobile {
    display: none;
  }
  .promo__image--tablet {
    display: block;
    position: absolute;
    top: 260px;
    z-index: -1;
    margin-left: -90px;
  }
  .promo {
    height: 880px;
    position: relative;
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
    background-image: none;
  }
}

<<<<<<< HEAD
@media (min-width: @desktop-width) {
  .promo__wrapper {
    padding-top: 75px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .promo__image--tablet {
    display: none;
  }

=======
@media(min-width: @desktop-width) {
  .promo__wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }
  .promo__image--tablet {
    display: none;
  }
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
  .promo__image--desktop {
    display: block;
    position: absolute;
    top: 0;
    right: 350px;
    z-index: 1;
  }
<<<<<<< HEAD

=======
>>>>>>> f42c3d2... Сверстал адаптивные сетки крупных блоков для всех состояний: мобильного,планшетного и десктопного
  .promo {
    height: 585px;
  }
}
